@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap");

.App {
  font-family: "roboto", "regular";
}
header {
  margin: 0 auto;
  max-width: 1200px;
}

div .hero-container.container p {
  margin-right: 30px;
}

header img {
  width: 144px;
}

h1 {
  font-family: "roboto";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

section .category-container p {
  /* background-color: red; */
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  /* background-color: red; */
}

.hero-container {
  padding: 30px 0;
  display: flex;
}

.hero-description {
  font-size: 19px;
  color: #868a8a;
  line-height: 150%;
}

.hero-container img {
  width: 350px;
  height: 200px;
  border-radius: 5px;
}

main {
  background-color: #f3f5f5;
}

.main-part {
  display: flex;
}

.left-part {
  /* background-color: red; */
  width: 70%;
}

.right-part {
  /* background-color: green; */
  width: 30%;
}

.category-container {
  /* background-color: blue; */
  margin: 30px 0;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 10%; */
  justify-content: space-between;
}

article {
  height: 160px;
  /* width: 380px; */
  width: 45%;
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 20px;
}

article img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}

.meal-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.meal-description {
  height: 33px;
  /* background-color: red; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  margin-bottom: 20px;
}

.price-popular-container {
  display: flex;
}
